// SETTINGS [ THEMES ] ################################################################################################

@import "../.base/_module-index";

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++
// A.1. HERO BANNER +++++++++++++++++++++++++++++++++++++
.hero__theme1 {
  background-color: black;
  * {
    color: white;
  }
}
// A.1. END +++++++++++++++++++++++++++++++++++++++++++++

// A.2. LEFT RIGHT ALIGNMENT ++++++++++++++++++++++++++++

.mediaOnLeft {
  .order1 {
    order: 1;
  }
  .order2 {
    order: 2;
  }
}

// A.2. END +++++++++++++++++++++++++++++++++++++++++++++

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++

// A. END +++++++++++++++++++++++++++++++++++++++++++++++

// B. GRACEFUL DEGRADATION ++++++++++++++++++++++++++++++

@media ($md-dn) {
}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++

// C. MIN-WIDTH: 768px ++++++++++++++++++++++++++++++++++

@media ($md-up) {
}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++

// D. MIN-WIDTH: 992px ++++++++++++++++++++++++++++++++++

@media ($lg-up) {
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++

// E. MIN-WIDTH: 1200px +++++++++++++++++++++++++++++++++

@media ($xl-up) {
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################
